#randomdiv {
 background-image: url("../background/randomstart.png");
 background-repeat: no-repeat;
 background-size: contain;
 width: 410px;
 height: 850px;

}

.randomdata {
    margin-top: 5px;
    text-align: center;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1);
}

#randbut:nth-of-type(1) {
    position: fixed;
    left: 15px;
    top: 470px;
}


#fixedsvg {
    position: absolute;
    top: 7px;
    left: 250px;
    z-index: 3;
}

