#randomdiv {
    width: 100%;
    height: auto;
}

.randomdata {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    text-align: center;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1);
}

#randbut:nth-of-type(1) {
    position: absolute;
    left: 35%;
    top: 85%;
}


#fixedsvg {
    position: absolute;
    top: 7px;
    left: 250px;
    z-index: 3;
}

